<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net461" />
  <package id="dt_UtilityHelper" version="1.0.0" targetFramework="net461" />
  <package id="DynamicData" version="6.3.0.2400" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.4.0" targetFramework="net461" />
  <package id="PropertyTools.Wpf" version="3.0.0-unstable0141" targetFramework="net461" />
  <package id="ReactiveProperty" version="4.0.0" targetFramework="net461" />
  <package id="ReactiveUI" version="8.2.1" targetFramework="net461" />
  <package id="Splat" version="4.0.0" targetFramework="net461" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0-preview1-26216-02" targetFramework="net461" />
</packages>