<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dt_UtilityHelper" version="1.2.0" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="StarMath" version="2.0.17.1019" targetFramework="net452" />
</packages>